.code {
	background-image: url(../img/backIm4.jpg);
	font-family: Arial;
	font-style: italic;
	color: Red;
	border: 0;
	padding: 3px 3px;
	letter-spacing: 4px;
	font-weight: bolder;
}

.unchanged {
	border: 0;
}